<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/employee_profile.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav_logo">
            <img src="assets/logo.png" alt="logo">
            <p>Codyaan</p>
        </div>
        <div class="nav_list">
            <div>Home</div>
            <div ><a href="/employeeDashboard">Dashboard</a></div>
            <div>FAQs</div>
            <div class="active"><a href="/employeeProfile">Profile</a></div>
        </div>
    </nav>
    <section>
        <div class="profile">
            <div class="image">
                <img src="assets/profile.png" alt="" id="profile_pic">
                <input type="file" accept="image/*" id="profile_pic_add"><label for="profile_pic_add">
                    <div class="input_image"></div>
                </label>
            </div>
            <div class="name"><%= employee.name %></div>
            <div class="mini_details">
                <div>
                    <h5>UserName</h5>
                    <p><%= employee.username %></p>
                </div>
                <div>
                    <h5>Designation</h5>
                    <p><%= employee.designation %></p>
                </div>
                <div>
                    <h5>Bank Name</h5>
                    <p><%= employee.bankName %></p>
                </div>
            </div>
            <div class="complaint_track">
                <div class="completed">
                    <h5>Solved Complaints</h5>
                    <p>50</p>
                </div>
                <div class="pending">
                    <h5>Pending Complaints</h5>
                    <p>10</p>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="employee_details">
                <div class="card personal_details">
                    <form action="/updateDetail" method="post" >
                        <h5>Personal Details :</h5>
                        <button type="button" class="edit" id="edit">Edit</button>
                        <div class="content">
                            <p>Name</p>
                            <input type="text" name="name" value="<%= employee.name %>" autocomplete="no"  class="editable" disabled>
                            <p>Email ID</p>
                            <input type="text" name="username" value="<%= employee.username %>" autocomplete="no"  class="editable" disabled>
                            <p>Employee ID</p>
                            <input type="text" name="employeeId" value="<%= employee.employeeId %>" autocomplete="no"  class="editable" disabled>
                            <p>Designation</p>
                            <input type="text" name="designation" value="<%= employee.designation %>" autocomplete="no"  class="editable" disabled>
                            <p>Complaint Specialisation</p>
                            <input type="text" name="complaintSpecialisation" value="<%= employee.complaintSpecialisation %>" autocomplete="no"  class="editable" disabled>
                            <p>Language</p>
                            <input type="text" name="language" value="<%= employee.language %>" autocomplete="no"  class="editable" disabled>
                            <p>Bank Name</p>
                            <input type="text" name="bankName" value="<%= employee.bankName %>" autocomplete="no"  class="editable" disabled>
                            <p>Work Place</p>
                            <input type="text" name="workplace" value="<%= employee.workplace %>" autocomplete="no"  class="editable" disabled>
                            <p>Mobile No.</p>
                            <input type="text" name="mobileNo" value="<%= employee.mobileNo %>" autocomplete="no"  class="editable" disabled>
                        </div>
                        <button type="submit" class="edit_submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/employee_profile.js"></script>

</html>